@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* medium size phhone */
@media only screen and (max-width: 770px) {
    .main {
        width: 105%;
    }

    #myBtn {
        bottom: 0px;
        right: 0px;
        margin: 1.8rem;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        font-size: 28px;
    }

    .navbar {
        margin-right: 3.4rem;
        top: 0;
    }

    .navbar-brand img {
        height: 4rem;
        padding-left: 0.5rem;
    }

    #daynight {
        width: 45px;
        padding: 5px;
        position: absolute;
        top: -0;
        right: -25px;
        cursor: pointer;
    }

    .top {
        margin: 4% 12%;
    }

    h1,
    .top-head {
        font-size: 3.3rem;
        color: white;
        margin: 5%;
    }

    .top-para {
        font-size: 18px;
    }

    .dlbtn {
        margin: 5%;
    }

    .homesnap {
        width: 360%;
        margin: auto;
    }
}

/* Small Size phone */
@media only screen and (max-width: 320px) {
    #myBtn {
        margin: 1.8rem;
        width: 55px;
        height: 55px;
    }

    .navbar {
        margin-right: 3rem;
        top: 0;
    }

    .navbar-brand img {
        height: 3.1rem;
    }

    #daynight {
        width: 45px;
        padding: 5px;
        position: absolute;
        top: -10px;
        right: -25px;
        cursor: pointer;
        margin-right: 1rem;
    }

    h1,
    .top-head {
        font-size: 3rem;
    }
}

/* mini Size phone like jiophone */
@media only screen and (max-width: 280px) {
    .navbar-brand img {
        height: 2.4rem;
        padding-left: 0;
    }
    .navbar {
        margin-right: 2rem;
        top: 0;
    }
    .navbar-toggler-icon {
        width: 1em !important;
        height: 1em !important;
    }
    
    #daynight {
        width: 35px;
    }

    h1,
    .top-head {
        font-size: 2.4rem;
    }
    .top-para {
        font-size: 1rem;
    }
}